* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color:grey;
    color: black;
    font-family: Raleway, 'Times New Roman', Times, serif;
    font-size: 30px;
    background: url("content/avengers6.jpg") center fixed no-repeat;
}

header {
    text-align: center;
    margin: 45px 0px;  
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

header ul li {
    margin-left: 10px;
}

.container {
    margin: 50px auto;
    width: 75%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.containerStart {
    margin: 150px auto;
    width: 75%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin: 25px auto 0px auto;
    text-align: center;
    width: 75%;
    font-size: 45px;
    margin-top: 15px;
}

h2  {
    font-size: 25px;
    padding: 30px 0px;
    text-align: center;
}

.answerOption {
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 10px;
    width: 66%;
    margin: auto;
    margin-bottom: 25px;
    padding: 10px;
}

label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

label input {
    padding: 5px;
}

form {
    margin: auto;
    margin-bottom: 30px;
}

form fieldset{
    margin: auto;
    border: none;
    font-size: 20px;
}


.submit {
    margin-bottom: 25px;
    font-size: 25px;
    padding: 5px 5px;
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
}

.quizSubmit {
    background-image: url("content/arrow.svg");
    margin-bottom: 25px;
    font-size: 0;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50px;
}

.answerOption:hover {
    background-color: black;
    color: white;
  }

.answerOption:checked {
    background-color: black;
    color: white;
}

input[type=radio] {
    opacity: 0;
    position: absolute;

}

input[type=radio]:checked + label {
    background-color: black;
    color: white;
}

  